# first and last name: mattia fogli
# student id: 123456
#
# path: ~/.config/systemd/user/log-extractor.service

[Unit]
Description=log extractor service

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=%h/log-extractor
ExecStart=/usr/bin/python3 app.py --path %h/logs --pattern ERROR